<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certi Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/step1">Generate</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
    </nav>
    <div class="jumbotron">
        <h1>Step 1 : Upload The Font Style (ttf file)</h1>
    </div>
    <img height="100%" width="100%" src="https://image.freepik.com/free-vector/video-upload-concept-illustration_114360-4702.jpg" alt="upload font style">
    <div class="jumbotron">
        <h1>Step 2 : Upload Template and Position Text </h1>
    </div>
    <img height="100%" width="100%" src="https://image.freepik.com/free-psd/modern-certificate-achievement-psd-template_69286-125.jpg" alt="Upload Image">
    <div class="jumbotron">
        <h1>Step 3 : Upload CSV File containing details in same order (i.e. top to bottom)</h1>
    </div>
    <img height="100%" width="100%" src="../static/step3.jpg" alt="upload csv">
    <div class="jumbotron">
        <h1>Step 4 : Get the Zip of Certificates</h1>
    </div>
    <img height="100%" width="100%" src="https://img.freepik.com/free-vector/file-bundle-concept-illustration_114360-1725.jpg?size=338&ext=jpg" alt="zip file">
</body>
</html>
<style>
    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: .3rem;
        text-align: center;
    }
</style>