<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certi Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
     <!-- Button trigger modal -->
  <button id="launch-modal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display: none;">
    Launch Loader
  </button>
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel" style="color: black;">File Being Uploaded...</h3>
                </div>
                <div class="modal-body">
                    <div class="loader-section">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="modal-footer" style="display: none;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <img id="curTemplate" alt="Certi Image" style="display: none;">
    <br>
    <div class="container" style="border:3px dashed wheat;padding:10px;margin-top:10px;">
        <h1>Upload The Template (.jpg/.png)</h1>
        <input type="file" onchange="loadFile(event)" accept=".png,.jpg,.jpeg">
        <br><br>
        <a href="/get-certificate-template" target="blank" id="download"><button class="btn btn-success">Download Template</button></a>
        <br><br>
        <button class="btn btn-primary" onclick="moveToStep3()">Next</button>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="center-bread">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/step1">Step 1</a></li>
              <li class="breadcrumb-item active" aria-current="page">Step 2</li>
              <li class="breadcrumb-item"><a href="/step3">Step 3</a></li>
              <li class="breadcrumb-item"><a href="/step4">Step 4</a></li>
            </ol>
        </nav>
    </div>
</body>
<script>
    var CLOUDINARY_URL = "https://api.cloudinary.com/v1_1/codemafia/image/upload";
    var CLOUDINARY_DELETE_URL = "https://api.cloudinary.com/v1_1/codemafia/image/destroy";
    var CLOUDINARY_UPLOAD_PRESET = "ksx2b0v2";
    var curFile = null;

    if(localStorage.getItem("FontFileUrl")){
        var newStyle = document.createElement('style');
        newStyle.appendChild(document.createTextNode("\
        @font-face {\
            font-family: " + "CustomFont" + ";\
            src: url('"+localStorage.getItem("FontFileUrl") + "'');\
        }\
        "));
        document.head.appendChild(newStyle);
    }

    document.getElementById("curTemplate").addEventListener('click',(event)=>{
        var browserZoomLevel = Math.round(window.devicePixelRatio * 100);
        var doc = document.documentElement;
        var left = event.clientX + this.scrollX;
        var top = event.clientY + this.scrollY;
        // var cur_x = left*25 / browserZoomLevel;
        // var cur_y = top*25 / browserZoomLevel;
        var ok = prompt("Co-ord:"+left+","+top);
        if(ok!=null){

            var newGlobalText = document.createElement('span');
            newGlobalText.classList += 'demo';
            newGlobalText.draggable = true;
            newGlobalText.style.fontSize = "20px";
            newGlobalText.style.position = 'absolute';
            newGlobalText.style.left = left+'px';
            newGlobalText.style.top = top+'px';
            newGlobalText.style.color = 'black';

            var newText = document.createElement('span');
            newText.innerText = ok;
            newText.style.fontSize = "20px";
            newText.style.fontFamily = 'CustomFont';

            var buttonP = document.createElement('icon');
            buttonP.classList.add('fa');
            buttonP.classList.add('fa-plus-square');
            // buttonP.innerText = "+";
            buttonP.style.margin = "2px";
            buttonP.addEventListener('click',(event)=>{
                let curFont = newText.style.fontSize;
                newText.style.fontSize = (Number(curFont.substr(0,curFont.length-2)) + 1) + "px";
                event.stopPropagation();
            })

            var buttonM = document.createElement('icon');
            // buttonM.innerText = "-";
            buttonM.classList.add('fa');
            buttonM.classList.add('fa-minus-square');
            buttonM.style.margin = "2px";
            buttonM.addEventListener('click',(event)=>{
                let curFont = newText.style.fontSize;
                newText.style.fontSize = (Number(curFont.substr(0,curFont.length-2)) - 1) + "px";
                event.stopPropagation();
            })

            var buttonX = document.createElement('icon');
            // buttonX.innerText = "X";
            buttonX.classList.add('fa');
            buttonX.classList.add('fa-remove');
            buttonX.style.margin = "2px";
            buttonX.addEventListener('click',(event)=>{
                document.getElementsByTagName('body')[0].removeChild(newGlobalText); 
                event.stopPropagation();
            })

            var buttonSZ = document.createElement('icon');
            buttonSZ.classList.add('fa');
            buttonSZ.classList.add('fa-text-height');
            // buttonSZ.innerText = "Sz";
            buttonSZ.style.margin = "2px";
            buttonSZ.addEventListener('click',(event)=>{
                var sz = prompt("Enter the Font Size:",newText.style.fontSize.substr(0,newText.style.fontSize.length-2));
                if(sz!=null && sz > 0){
                    newText.style.fontSize = sz;
                }
            })

            var buttonE = document.createElement('icon');
            buttonE.classList.add('fa');
            buttonE.classList.add('fa-pencil-square');
            // buttonE.innerHTML = "<i class='fa fa-home'></i>"
            // buttonE.innerText = "E";
            buttonE.style.margin = "2px";
            buttonE.addEventListener('click',(event)=>{
                var updatedText = prompt("Update:",newText.innerText);
                if(updatedText!=null){
                    newText.innerText = updatedText;
                }
            })

            newGlobalText.appendChild(newText);
            newGlobalText.appendChild(buttonP);
            newGlobalText.appendChild(buttonM);
            newGlobalText.appendChild(buttonE);
            newGlobalText.appendChild(buttonSZ);
            newGlobalText.appendChild(buttonX);

            newText.onmousedown = function(event) {

                let shiftX = event.clientX - newGlobalText.getBoundingClientRect().left;
                let shiftY = event.clientY - newGlobalText.getBoundingClientRect().top;

                newGlobalText.style.position = 'absolute';
                newGlobalText.style.zIndex = 1000;
                document.body.append(newGlobalText);

                moveAt(event.pageX, event.pageY);

                // moves the newGlobalText at (pageX, pageY) coordinates
                // taking initial shifts into account
                function moveAt(pageX, pageY) {
                    newGlobalText.style.left = pageX - shiftX + 'px';
                    newGlobalText.style.top = pageY - shiftY + 'px';
                }

                function onMouseMove(event) {
                    moveAt(event.pageX, event.pageY);
                }

                // move the newGlobalText on mousemove
                document.addEventListener('mousemove', onMouseMove);

                // drop the newGlobalText, remove unneeded handlers
                newText.onmouseup = function() {
                    document.removeEventListener('mousemove', onMouseMove);
                    newGlobalText.onmouseup = null;
                };

            };

            newGlobalText.ondragstart = function() {
            return false;
            };

            document.getElementsByTagName('body')[0].appendChild(newGlobalText); 
        }
    })

    var loadFile = function(event) {
        var image = document.getElementById('curTemplate');
        image.src = URL.createObjectURL(event.target.files[0]);
        var file = event.target.files[0];  
        if(file!=null){
            document.getElementById('curTemplate').style.display = '';
        }
        curFile = file;    
        var fileName = event.target.files[0].name;      
        var blob = new Blob([file]);
        var url  = URL.createObjectURL(blob);
        var a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        // a.click();
        //this.attr({ 'download': filename, 'href': url});  
    };

    /*async function clearLocalStorageImageFromCloudinary(){
        var formData = new FormData();
        formData.append("file", curFile);
        formData.append("upload_preset", CLOUDINARY_UPLOAD_PRESET);
        formData.append("folder","Templates");
        formData.append("public_id",localStorage.getItem("templatePublicUrl"));
        console.log(formData);
        const req = new XMLHttpRequest();
        req.open("POST", CLOUDINARY_URL);
        req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        req.send(formData);
        req.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                var response = JSON.parse(req.responseText);
                console.log(response);
            }
        }
    }*/

    async function moveToStep3(){
        /*if(localStorage.getItem("templatePublicUrl")!=null){
            clearLocalStorageImageFromCloudinary();
        }*/
        document.getElementById("launch-modal").click();
        var formData = new FormData();
        formData.append("file", curFile);
        formData.append("upload_preset", CLOUDINARY_UPLOAD_PRESET);
        formData.append("tags", "browser_upload");
        formData.append("folder","Templates");
        console.log(formData);
        const req = new XMLHttpRequest();
        req.open("POST", CLOUDINARY_URL);
        req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        req.send(formData);
        req.onreadystatechange = await function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                var response = JSON.parse(req.responseText);
                var url = response.secure_url;
                var pub_url = response.public_id;
                localStorage.setItem('templateUrl',url);
                localStorage.setItem('templatePublicUrl',pub_url);
                var points = document.getElementsByClassName('demo');
                var coords = []
                for(let i=0;i<points.length;i++){
                    var text_child_size = points[i].children[0].style.fontSize;
                    coords.push([points[i].style.left,points[i].style.top,text_child_size]);
                }
                localStorage.setItem("coords",JSON.stringify(coords));  
                console.log("here:",url);
                document.getElementById("close-modal").click();
                window.location.href = "step3";
            }
        }
    }

</script>
<style>
    body{
        background: #42275a;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color:wheat;
        font-family: 'Dancing Script', cursive;
        font-size: 1.5em;
    }
    .btn{
        font-size: 1.5em;
    }
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #42275a; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
    .loader-section{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .breadcrumb{
        border: 2px solid wheat;
        padding: 1em;
    }
    .center-bread{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .active{
        color: lightblue !important;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
</html>