<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certi Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container" style="border:2px dashed black;padding:10px;margin-top:10px;">
        <h1>Upload the Sheet (.csv)</h1>
        <input type="file" onchange="loadFile(event)">
        <br><br>
        <button class="btn btn-primary" onclick="moveToStep4()">Next</button>
    </div>
</body>
<script>
    var CLOUDINARY_URL = "https://api.cloudinary.com/v1_1/codemafia/upload";
    var CLOUDINARY_DELETE_URL = "https://api.cloudinary.com/v1_1/codemafia/image/destroy";
    var CLOUDINARY_UPLOAD_PRESET = "ksx2b0v2";
    var curSheet = null;

    var loadFile = function(event) {
        var file = event.target.files[0];  
        curSheet = file;    
    };

    async function moveToStep4(){
        var formData = new FormData();
        formData.append("file", curSheet);
        formData.append("upload_preset", CLOUDINARY_UPLOAD_PRESET);
        formData.append("tags", "browser_upload");
        formData.append("folder","CertiSheets");
        console.log(formData);
        const req = new XMLHttpRequest();
        req.open("POST", CLOUDINARY_URL);
        req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        req.send(formData);
        req.onreadystatechange = await function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                var response = JSON.parse(req.responseText);
                var url = response.secure_url;
                var pub_url = response.public_id;
                localStorage.setItem('SheetUrl',url);
                localStorage.setItem('SheetPublicUrl',pub_url);
                console.log(url)
                window.location.href = "step4";
            }
        }
    }
</script>
</html>