<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certi Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
    <div class="container" style="border:2px dashed black;padding:10px;margin-top:10px;">
        <h1>Generate Certis</h1>
        <button class="btn btn-primary" onclick="generateCertis()">Process</button>
        <br>
        <a href="/get-file" target="blank" style="display: none;" id="download"><button class="btn btn-default">Download</button></a>
    </div>
</body>
<script>
    function generateCertis(){
        const imageUrl = localStorage.getItem('templateUrl');
        const fontUrl = localStorage.getItem('FontFileUrl');
        const sheetUrl = localStorage.getItem('SheetUrl');
        console.log(imageUrl,fontUrl,sheetUrl);
        var formData = new FormData();
        formData.append("image_url", imageUrl);
        formData.append("font_url", fontUrl);
        formData.append("sheet_url", sheetUrl);
        formData.append("coords",localStorage.getItem("coords"));
        console.log(formData);
        const req = new XMLHttpRequest();
        req.open("POST", "http://certigini.herokuapp.com/generateCerti");
        req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        req.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                console.log(req.responseText,typeof(req.response));
                if(JSON.parse(req.response).success == "ok"){
                    document.getElementById("download").style.display = '';
                }
                /*var blob = new Blob([req.response]);
                console.log(blob);
                var url = window.URL.createObjectURL(blob);
                var link = document.createElement('a');
                document.body.appendChild(link);
                link.style = "display: none";
                link.href = url;
                console.log(url);
                link.download = "coa.pdf";
                link.click();

                setTimeout(() => {
                window.URL.revokeObjectURL(url);
                link.remove(); } , 100);*/
            }
        }
        req.send(formData);
    }
</script>
</html>